.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  min-width: 1100px;
  background-color: #2a2c2f;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}
